---
import FormLayout from "@/layouts/FormLayout.astro";
import ConfirmList from "./_confirm-list";
---

<FormLayout title="京葉地区青年キャンプ 参加申し込み" useRecaptcha={true}>
	<header
		class="bg-gradient-to-br from-indigo-600 via-blue-600 to-purple-700 text-white"
	>
		<h1 class="py-6 text-center text-lg font-bold">
			京葉地区青年キャンプ 参加申し込み確認
		</h1>
	</header>

	<main class="py-4 max-w-256 m-auto">
		<ConfirmList client:only />
	</main>
</FormLayout>
