---
import ExpiredMessage from "@/components/forms/ExpiredMessage.tsx";
import FormLayout from "@/layouts/FormLayout.astro";
// import ConfirmList from "./_confirm-list";
---

<FormLayout title="京葉地区青年キャンプ 参加申し込み確認">
	<header
		class="bg-linear-to-br from-indigo-600 via-blue-600 to-purple-700 text-white"
	>
		<h1 class="py-6 text-center text-lg font-bold">
			京葉地区青年キャンプ 参加申し込み確認
		</h1>
	</header>

	<main class="p-4 mt-4">
		<!-- <ConfirmList client:only /> -->
		<ExpiredMessage>
			<p class="my-8">この申し込みは終了しています。</p>
		</ExpiredMessage>
	</main>
</FormLayout>
