---
import ExpiredMessage from "@/components/forms/ExpiredMessage.tsx";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import Main from "@/components/layout/Main.astro";
import FormLayout from "@/layouts/FormLayout.astro";
// import ApplyForm from "./_apply-form";
---

<FormLayout title="京葉地区青年キャンプ 参加申し込み" useRecaptcha={true}>
	<Header>
		<h1 slot="title" class="text-xl md:text-3xl font-bold">
			京葉地区青年キャンプ 参加申し込み
		</h1>
		<p slot="description" class="mt-12 text-lg text-blue-100">
			2025年9月14日〜15日
		</p>
	</Header>

	<Main>
		<!-- <ApplyForm client:only /> -->
		<ExpiredMessage>
			<p class="my-4">この申し込みは終了しています。</p>
		</ExpiredMessage>
	</Main>

	<Footer>
		<p class="pt-12">
			<small>© 2025 Keiyo Area United Youth Association.</small>
		</p>
	</Footer>
</FormLayout>
