---
import "@/styles/themes/indigo.css";
import ExpiredMessage from "@/components/forms/ExpiredMessage.tsx";
import FormLayout from "@/layouts/FormLayout.astro";
---

<FormLayout title="京葉地区青年キャンプ 参加申し込み確認">
	<div class="page">
		<header class="page-header">
			<h1 class="page-title">
				京葉地区青年キャンプ 参加申し込み確認
			</h1>
		</header>

		<main class="page-main">
			<ExpiredMessage>
				<p class="notice">この申し込みは終了しています。</p>
			</ExpiredMessage>
		</main>
	</div>
</FormLayout>

<style>
	:global(body) {
		background-color: var(--color-indigo-600);
	}

	.page {
		background-color: var(--color-slate-100);
		background-image: url("/bg-pattern-1.svg"), url("/bg-pattern-2.svg");
		background-size: 800px 800px, 1200px 1200px;
		background-position: 0 0, 180px 250px;
		background-repeat: repeat;
		min-height: 100dvh;
		color: var(--color-gray-700);
	}

	.page-header {
		background: linear-gradient(
			to bottom right,
			var(--color-indigo-600),
			var(--color-blue-600),
			var(--color-purple-700)
		);
		color: white;
	}

	.page-title {
		padding-block: var(--space-6);
		text-align: center;
		font-size: var(--text-lg);
		font-weight: bold;
	}

	.page-main {
		padding: var(--space-4);
		margin-top: var(--space-4);
	}

	.notice {
		margin-block: var(--space-8);
	}
</style>
