.grecaptcha-badge {
  visibility: hidden;
}

.input-box {
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px gray;
  padding: 0.5em 1em 1.5em;
}

.input-box p {
  font-size: 85%;
}

.input-label {
  font-size: 85%;
  line-height: 1;
  margin: 1em 0 2em;
}
