---
{{THEME_IMPORT}}
import FormLayout from "@/layouts/FormLayout.astro";
import ConfirmList from "./_confirm-list";
---

<FormLayout title="{{EVENT_NAME}} 参加申し込み確認">
	<div class="page">
		<header class="page-header">
			<h1 class="page-title">
				{{EVENT_NAME}} 参加申し込み確認
			</h1>
		</header>

		<main class="page-main">
			<ConfirmList client:only="solid-js" />
		</main>
	</div>
</FormLayout>

{{PAGE_STYLES}}
