@import "tailwindcss";

.grecaptcha-badge {
	visibility: hidden;
}

.bg-pattern {
	background-image: url("/bg-pattern-1.svg"), url("/bg-pattern-2.svg");
	background-size:
		800px 800px,
		1200px 1200px;
	background-position:
		0 0,
		180px 250px;
	background-repeat: repeat;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0.5;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInScale {
	from {
		opacity: 0.5;
		transform: scale(0.75);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		transform: scale(0.5);
		opacity: 0.5;
	}
	50% {
		transform: scale(1.1);
	}
	70% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes shakeIn {
	0% {
		transform: scale(0.5) rotate(-3deg);
		opacity: 0.5;
	}
	25% {
		transform: scale(1.1) rotate(2deg);
	}
	50% {
		transform: scale(0.9) rotate(-1deg);
	}
	75% {
		transform: scale(1.05) rotate(1deg);
	}
	100% {
		transform: scale(1) rotate(0deg);
		opacity: 1;
	}
}
