---
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import Main from "@/components/layout/Main.astro";
import FormLayout from "@/layouts/FormLayout.astro";
import SampleForm from "./_sample-form.tsx";
---

<FormLayout
	title="テクノロジー勉強会"
	description="プログラミングとテクノロジーの勉強会への申し込みフォーム"
>
	<Header>
		<h1 slot="title" class="text-3xl md:text-5xl font-bold tracking-tight">
			テクノロジー勉強会
		</h1>
	</Header>

	<Main>
		<SampleForm client:load />
	</Main>

	<Footer>
		<p class="pt-12">
			<small>© 2025 テクノロジー勉強会実行委員会</small>
		</p>
	</Footer>
</FormLayout>
