---
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import Main from "@/components/layout/Main.astro";
import FormLayout from "@/layouts/FormLayout.astro";
import SurveyForm from "./_survey-form.tsx";
---

<FormLayout title="{{EVENT_NAME}} アンケート" loadRecaptcha>
	<Header>
		<h1 slot="title" class="title">
			{{EVENT_NAME}} アンケート
		</h1>
		<p slot="description" class="description">
			{{EVENT_DATE}}
		</p>
	</Header>

	<Main>
		<SurveyForm client:only="solid-js" />
	</Main>

	<Footer>
		<p class="footer-note">
			<small>© {{YEAR}} Keiyo Area United Youth Association.</small>
		</p>
	</Footer>
</FormLayout>

<style>
	.title {
		font-size: var(--text-xl);
		font-weight: bold;

		@media (min-width: 768px) {
			font-size: var(--text-3xl);
		}
	}

	.description {
		margin-top: var(--space-8);
		font-size: var(--text-lg);
		color: var(--color-blue-100);
	}

	.footer-note {
		padding-top: var(--space-12);
	}
</style>
