<main>
	<div class="inner">
		<slot />
	</div>
</main>

<style>
	main {
		margin-inline: auto;
		min-height: 45vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.inner {
		width: 32rem;
		max-width: 100%;
		margin-inline: auto;
		padding-top: var(--space-10);
		padding-bottom: var(--space-20);
		padding-inline: var(--space-4);
	}
</style>
