---
import "./_components/theme.css";
import FormLayout from "@/layouts/FormLayout.astro";
import SurveyForm from "./_components/survey-form";
---

<FormLayout title="{{EVENT_NAME}} アンケート" loadRecaptcha>
	<div class="page">
		<header class="page-header">
			<div class="page-header-inner">
				<h1 class="title">{{EVENT_NAME}} アンケート</h1>
				<p class="description">{{EVENT_DATE}}</p>
			</div>
		</header>

		<main class="page-main">
			<div class="page-main-inner">
				<SurveyForm client:only="solid-js" />
			</div>
		</main>

		<footer class="page-footer">
			<div class="page-footer-inner">
				<p class="footer-note">
					<small>© {{YEAR}} Keiyo Area United Youth Association.</small>
				</p>
			</div>
		</footer>
	</div>
</FormLayout>

{{PAGE_STYLES}}
