---
import ExpiredMessage from "@/components/forms/ExpiredMessage.tsx";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import Main from "@/components/layout/Main.astro";
import FormLayout from "@/layouts/FormLayout.astro";
---

<FormLayout title="JBBF全国青年フェローシップキャンプ参加申し込み">
	<Header>
		<h1 slot="title" class="title">
			JBBF全国青年フェローシップキャンプ 参加申し込み
		</h1>
		<p slot="description" class="description">
			開催日：2025年5月5日〜7日
		</p>
	</Header>

	<Main>
		<ExpiredMessage>
			<p class="notice">この申し込みは終了しています。</p>
		</ExpiredMessage>
	</Main>

	<Footer>
		<p>
			<small>© 2025 Nitona Bible Baptist Church.</small>
		</p>
	</Footer>
</FormLayout>

<style>
	.title {
		font-size: var(--text-2xl);
		font-weight: bold;
		letter-spacing: -0.025em;

		@media (min-width: 768px) {
			font-size: var(--text-3xl);
		}
	}

	.description {
		font-size: var(--text-base);
		color: var(--color-blue-100);
	}

	.notice {
		margin-block: var(--space-4);
	}
</style>
