---
import ExpiredMessage from "@/components/forms/ExpiredMessage.tsx";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import Main from "@/components/layout/Main.astro";
import FormLayout from "@/layouts/FormLayout.astro";
// import ApplyForm from "./_apply-form";
---

<FormLayout title="京葉地区合同青年会 参加申し込み" loadRecaptcha>
	<Header>
		<h1 slot="title" class="title">
			京葉地区合同青年会 参加申し込み
		</h1>
		<p slot="description" class="description">
			2026年2月22日
		</p>
	</Header>

	<Main>
		<!-- <ApplyForm client:only="solid-js" /> -->
		<ExpiredMessage>
			<p class="notice">この申し込みは終了しています。</p>
		</ExpiredMessage>
	</Main>

	<Footer>
		<p class="footer-note">
			<small>© 2026 Keiyo Area United Youth Association.</small>
		</p>
	</Footer>
</FormLayout>

<style>
	.title {
		font-size: var(--text-xl);
		font-weight: bold;

		@media (min-width: 768px) {
			font-size: var(--text-3xl);
		}
	}

	.description {
		margin-top: var(--space-8);
		font-size: var(--text-lg);
		color: var(--color-blue-100);
	}

	.notice {
		margin-block: var(--space-4);
	}

	.footer-note {
		padding-top: var(--space-12);
	}
</style>
