---
{{THEME_IMPORT}}
import FormLayout from "@/layouts/FormLayout.astro";
import ApplyForm from "./_components/apply-form";
---

<FormLayout title="{{EVENT_NAME}} 参加申し込み" loadRecaptcha>
	<div class="page">
		<header class="page-header">
			<div class="page-header-inner">
				<h1 class="title">{{EVENT_NAME}} 参加申し込み</h1>
				<p class="description">{{EVENT_DATE}}</p>
			</div>
		</header>

		<main class="page-main">
			<div class="page-main-inner">
				<ApplyForm client:only="solid-js" />
			</div>
		</main>

		<footer class="page-footer">
			<div class="page-footer-inner">
				<p class="footer-note">
					<small>© {{YEAR}} Keiyo Area United Youth Association.</small>
				</p>
			</div>
		</footer>
	</div>
</FormLayout>
