---
import DevApiToggle from "@/components/dev/DevApiToggle.tsx";
import { config } from "@/config/env";
import "@/styles/global.css";

export type Props = {
	title: string;
	description?: string;
	loadRecaptcha?: boolean;
};

const { title, description = "", loadRecaptcha = false } = Astro.props;
---

<!doctype html>
<html lang="ja" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="description" content={description} />
		<title>{title}</title>
		{
			loadRecaptcha && config.recaptcha.siteKey && (
				<script
					src={`https://www.google.com/recaptcha/api.js?render=${config.recaptcha.siteKey}`}
				/>
			)
		}
	</head>
	<body class="bg-indigo-600 antialiased">
		<div class="bg-pattern bg-slate-100 min-h-dvh text-gray-700">
			<slot />
		</div>
		<DevApiToggle client:only="solid-js" />
	</body>
</html>
