---
import { config } from "@/config/env";
import "@/styles/global.css";

export interface Props {
	title: string;
	description?: string;
}

const { title, description = "" } = Astro.props;
---

<!doctype html>
<html lang="ja" class="bg-indigo-700">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		{
			config.recaptcha.siteKey && (
				<script
					src={`https://www.google.com/recaptcha/api.js?render=${config.recaptcha.siteKey}`}
				/>
			)
		}
	</head>
	<body class="bg-slate-100 text-gray-700 antialiased">
		<div class="bg-dot-pattern min-h-dvh relative overflow-x-hidden">
			<slot />
		</div>
	</body>
</html>
