.base {
	width: 100%;
	padding: var(--space-4);
	border-radius: var(--radius-md);
	cursor: pointer;

	&:focus {
		outline: none;
		box-shadow:
			0 0 0 1px white,
			0 0 0 3px var(--color-indigo-300);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.primary {
	composes: base;
	background-color: var(--color-indigo-600);
	color: white;
	border: 1px solid var(--color-indigo-500);

	&:hover:not(:disabled) {
		background-color: var(--color-indigo-700);
	}
}

.secondary {
	composes: base;
	background-color: rgb(255 255 255 / 0.7);
	color: var(--color-indigo-700);
	border: 1px solid var(--color-indigo-200);

	&:hover:not(:disabled) {
		background-color: white;
	}
}
