.wrapper {
	padding: var(--space-2);
	border-radius: var(--radius-md);
	border: 1px solid var(--color-indigo-200);
}

.textarea {
	appearance: none;
	width: 100%;
	background: transparent;
	resize: none;

	&:focus {
		outline: none;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
